@model ProyectoFinalDofit.Models.Articulos

@{
    ViewBag.Title = "Create";
}

@Styles.Render("~/Content/uza/customStyles")


    <<section class="newproduct section">
         <div class="container">

             <h2>Crear Nuevo Articulo</h2>

             <form action="@Url.Action("Create", "Articulos")" class="form" method="post">
                 <div>
                     <div class="form__group">
                         <label class="form__label" for="">Codigo</label>
                         @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form__input" } })
                     </div>

                     <div class="form__group">
                         <label class="form__label" for="">Descripcion</label>
                         @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form__input" } })
                     </div>
                     <div class="form__group">
                         <label class="form__label" for="">Costo Unitario</label>
                         @Html.EditorFor(model => model.Costo_Unitario, new { htmlAttributes = new { @class = "form__input" } })
                     </div>
                     <div class="form__group">
                         <label class="form__label" for="">Cantidad</label>
                         @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form__input" } })
                     </div>
                 </div>
                 <div>
                     <div class="form__group">
                         <label class="form__label" for="">Precio venta</label>
                         @Html.EditorFor(model => model.Precio_Venta, new { htmlAttributes = new { @class = "form__input" } })
                     </div>
                     <div class="form__group">
                         <label class="form__label" for="">Categoria</label>
                         @Html.EditorFor(model => model.Categoria, new { htmlAttributes = new { @class = "form__input" } })
                     </div>
                     <div class="form__group">
                         <label class="form__label" for="">Linea</label>
                         @Html.EditorFor(model => model.Linea, new { htmlAttributes = new { @class = "form__input" } })

                     </div>
                     <div class="form__group">
                         <label class="form__label" for="">Activo</label>
                         @Html.EditorFor(model => model.Activo, new { htmlAttributes = new { @class = "form__input form--check" } })
                     </div>
                 </div>
                 @using (Html.BeginForm())
                 {
                     @Html.AntiForgeryToken()

                     <input type="submit" value="Crear" class="btn" />
                 }

                     <div>
                         <a href="@Url.Action("Index")" class="btn btn--details">Regresar</a>
                     </div>
                 
             </form>
         </div>
    </section>
