@model ProyectoFinalDofit.Models.Articulos

@{
    ViewBag.Title = "Delete";
}
@Styles.Render("~/Content/uza/customStyles")

<section class="deleteproduct section">
    <h2>Eliminar</h2>

    <div class="container">
        <h3 style="color:red; font-weight: 500;">¿Seguro que desea realizar la eliminación?</h3>

        <dl class="dl-horizontal">
            <div>
                <dt>Codigo</dt>
                <dd>@Html.DisplayFor(model => model.Codigo)</dd>

                <dt>Descripcion</dt>
                <dd>@Html.DisplayFor(model => model.Descripcion)</dd>

                <dt>Costo unitario</dt>
                <dd>@Html.DisplayFor(model => model.Costo_Unitario)</dd>

                <dt>Cantidad</dt>
                <dd>@Html.DisplayFor(model => model.Cantidad)</dd>

                <dt>Precio venta</dt>
                <dd>@Html.DisplayFor(model => model.Precio_Venta)</dd>
            </div>
            <div>
                <dt>Total Costo</dt>
                <dd>@Html.DisplayFor(model => model.Total_Costo)</dd>

                <dt>Categoria</dt>
                <dd>@Html.DisplayFor(model => model.Categoria)</dd>

                <dt>Linea</dt>
                <dd>@Html.DisplayFor(model => model.Linea)</dd>

                <dt>Activo</dt>
                <dd>@Html.DisplayFor(model => model.Activo)</dd>
            </div>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="btn--top">
                <input type="submit" value="Eliminar" class="btn btn--delete" />
                <a href="@Url.Action("Index")" class="btn btn--details">Regresar</a>
            </div>
        }
        
    </div>

</section>