@model ProyectoFinalDofit.Models.Articulos

@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/uza/customStyles")

<section class="detailsproduct section">
    <h2>Detalles de Articulo</h2>

    <div class="container">
        <dl class="dl-horizontal">
            <div>
                <dt>Código</dt>
                <dd>@Html.DisplayFor(model => model.Codigo)</dd>

                <dt>Descripción</dt>
                <dd>@Html.DisplayFor(model => model.Descripcion)</dd>

                <dt>Costo unitario</dt>
                <dd>@Html.DisplayFor(model => model.Costo_Unitario)</dd>

                <dt>Cantidad</dt>
                <dd>@Html.DisplayFor(model => model.Cantidad)</dd>

                <dt>Precio venta</dt>
                <dd>@Html.DisplayFor(model => model.Precio_Venta)</dd>
            </div>
            <div>
                <dt>Total Costo</dt>
                <dd>@Html.DisplayFor(model => model.Total_Costo)</dd>

                <dt>Categoria</dt>
                <dd>@Html.DisplayFor(model => model.Categoria)</dd>

                <dt>Línea</dt>
                <dd>@Html.DisplayFor(model => model.Linea)</dd>

                <dt>Activo</dt>
                <dd>@Html.DisplayFor(model => model.Activo)</dd>
            </div>
        </dl>
        <div class="btn--top">
            <a href="@Url.Action("Index")" class="btn btn--details">Regresar</a>
        </div>

    </div>
</section>
