@model ProyectoFinalDofit.Models.Suscripciones

@{
    ViewBag.Title = "Create";
}

@Styles.Render("~/Content/uza/customStyles")

cc

<section class="newproduct section">
    <div class="container">

        <h2>Agregar Nueva Suscripción</h2>

        @using (Html.BeginForm("Create", "Suscripciones", FormMethod.Post, new { @class = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form__group">
                <label class="form__label" for="Suscripcion_Id">ID de Suscripción</label>
                @Html.EditorFor(model => model.Suscripcion_Id, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.Suscripcion_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Numero_Suscripcion">Número de Suscripción</label>
                @Html.EditorFor(model => model.Numero_Suscripcion, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.Numero_Suscripcion, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Fecha_Inicio">Fecha de Inicio</label>
                @Html.EditorFor(model => model.Fecha_Inicio, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.Fecha_Inicio, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Fecha_Finalizacion">Fecha de Finalización</label>
                @Html.EditorFor(model => model.Fecha_Finalizacion, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.Fecha_Finalizacion, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Costo">Costo</label>
                @Html.EditorFor(model => model.Costo, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.Costo, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Descuento">Descuento</label>
                @Html.EditorFor(model => model.Descuento, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.Descuento, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Activo">Activo</label>
                <div class="checkbox">
                    @Html.EditorFor(model => model.Activo)
                    @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form__group">
                <label class="form__label" for="Cliente_Id">Cliente</label>
                @Html.DropDownList("Cliente_Id", null, htmlAttributes: new { @class = "form-control custom-dropdown" })
                @Html.ValidationMessageFor(model => model.Cliente_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Plan_Clientes_Id">Plan de Clientes</label>
                @Html.DropDownList("Plan_Clientes_Id", null, htmlAttributes: new { @class = "form-control custom-dropdown" })
                @Html.ValidationMessageFor(model => model.Plan_Clientes_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Trabajador_Id">Trabajador</label>
                @Html.DropDownList("Trabajador_Id", null, htmlAttributes: new { @class = "form-control custom-dropdown" })
                @Html.ValidationMessageFor(model => model.Trabajador_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <input type="submit" value="Create" class="btn" />
            </div>
        }
        <div>
            <a href="@Url.Action("Index")" class="btn btn--details">Regresar</a>
        </div>
    </div>
</section>
