@model ProyectoFinalDofit.Models.Suscripciones

@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/uza/customStyles")

<section class="detailsproduct section">
    <h2>Detalles de Suscripción</h2>

    <div class="container">
        <div>
            <dl class="dl-horizontal">
                <div>
                    <dt>
                        @Html.DisplayNameFor(model => model.Numero_Suscripcion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Numero_Suscripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Fecha_Inicio)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Fecha_Inicio)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Fecha_Finalizacion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Fecha_Finalizacion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Costo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Costo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Descuento)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Descuento)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Activo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Activo)
                    </dd>
                </div>

                <div>
                    <dt>
                        @Html.DisplayNameFor(model => model.Clientes.Nombre)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Clientes.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Plan_Clientes.Descripcion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Plan_Clientes.Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Trabajadores.Codigo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Trabajadores.Codigo)
                    </dd>
                </div>
            </dl>
        </div>
        <div class="btn--top">
            <a href="@Url.Action("Index")" class="btn btn--details">Regresar</a>
        </div>
    </div>
</section>