@model IEnumerable<ProyectoFinalDofit.Models.Suscripciones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero_Suscripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Finalizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clientes.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plan_Clientes.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trabajadores.Codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_Suscripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Finalizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clientes.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Plan_Clientes.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trabajadores.Codigo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Suscripcion_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Suscripcion_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Suscripcion_Id })
        </td>
    </tr>
}

</table>
