@model ProyectoFinalDofit.Models.Factura_Productos

@{
    ViewBag.Title = "Create";
}

@Styles.Render("~/Content/uza/customStyles")

<style>
    .custom-dropdown {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        box-sizing: border-box;
    }
</style>

<section class="newproduct section">
    <div class="container">

        <h2>Agregar Nuevo Producto a Factura</h2>

        @using (Html.BeginForm("Create", "Factura_Productos", FormMethod.Post, new { @class = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form__group">
                <label class="form__label" for="Cantidad">Cantidad</label>
                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Costo_Unitario">Costo Unitario</label>
                @Html.EditorFor(model => model.Costo_Unitario, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.Costo_Unitario, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Factura_Id">ID de Factura</label>
                @Html.DropDownList("Factura_Id", null, htmlAttributes: new { @class = "form-control custom-dropdown" })
                @Html.ValidationMessageFor(model => model.Factura_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Articulo_Id">ID de Artículo</label>
                @Html.DropDownList("Articulo_Id", null, htmlAttributes: new { @class = "form-control custom-dropdown" })
                @Html.ValidationMessageFor(model => model.Articulo_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <input type="submit" value="Create" class="btn" />
            </div>
        }

    <div>
        <a href="@Url.Action("Index")" class="btn btn--details">Regresar</a>
    </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
