@model ProyectoFinalDofit.Models.Factura_Productos

@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/uza/customStyles")

<section class="detailsproduct section">
    <h2>Detalles de Producto en Factura</h2>

    <div class="container">
        <div>
            <dl class="dl-horizontal">
                <div>
                    <dt>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Cantidad)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Costo_Unitario)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Costo_Unitario)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Articulos.Descripcion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Articulos.Descripcion)
                    </dd>
                </div>

                <div>
                    <dt>
                        @Html.DisplayNameFor(model => model.Facturas.Factura_Id)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Facturas.Factura_Id)
                    </dd>
                </div>
            </dl>
        </div>
        <div class="btn--top">
            <a href="@Url.Action("Index")" class="btn btn--details">Regresar</a>
        </div>
    </div>
</section>

