@model IEnumerable<ProyectoFinalDofit.Models.Factura_Productos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @("Costo unidad")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Articulos.Descripcion)
        </th>
        <th>
            @("Movimiento")
        </th>
        <th>
            @("Monto Final")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo_Unitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Articulos.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Facturas.Tipo_Movimientos.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo_Total)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Factura_Producto_Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Factura_Producto_Id }) |
        </td>
    </tr>
}

</table>
