@model ProyectoFinalDofit.Models.Visitas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visitas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suscripciones.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suscripciones.Costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trabajadores.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trabajadores.Codigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Visita_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
