@model ProyectoFinalDofit.Models.Clientes

@{
    ViewBag.Title = "Create";
}

@Styles.Render("~/Content/uza/customStyles")

<style>
    .custom-dropdown {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        box-sizing: border-box;
    }
</style>

<section class="newproduct section">
    <div class="container">

        <h2>Agregar Nuevo Miembro</h2>

        @using (Html.BeginForm("Create", "Clientes", FormMethod.Post, new { @class = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form__group">
                <label class="form__label" for="Nombre">Nombre</label>
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Apellido">Apellido</label>
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Cedula">Cedula</label>
                @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Sexo_Id">Sexo</label>
                @Html.DropDownList("Sexo_Id", null, htmlAttributes: new { @class = "form-control custom-dropdown" })
                @Html.ValidationMessageFor(model => model.Sexo_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Activo">Estado</label>
                @Html.EditorFor(model => model.Activo, new { htmlAttributes = new { @class = "form__input form--check" } })
                @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <input type="submit" value="Crear" class="btn" />
            </div>
        }

        <div>
            <a href="@Url.Action("Index")" class="btn btn--details">Regresar</a>
        </div>
    </div>
</section>

