@model ProyectoFinalDofit.Models.Clientes

@{
    ViewBag.Title = "Delete";
}
@Styles.Render("~/Content/uza/customStyles")

<section class="deleteproduct section">
    <h2>Delete</h2>

    <div class="container">
        <h3 style="color:red; font-weight: 500;">¿Seguro que desea realizar la eliminación?</h3>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Apellido)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Apellido)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Cedula)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cedula)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Activo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Activo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sexo.Descripcion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sexo.Descripcion)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="btn--top">
                <input type="submit" value="Delete" class="btn btn--delete" />
                <a href="@Url.Action("Index")" class="btn btn--details">Regresar</a>
            </div>
        }
    </div>
</section>
