@model ProyectoFinalDofit.Models.Clientes

@{
    ViewBag.Title = "Edit";
}

@Styles.Render("~/Content/uza/customStyles")

<section class="editproduct section">
    <div class="container">
        <h2>Editar</h2>

        <form action="@Url.Action("Edit", "Clientes")" class="form" method="post">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Cliente_Id)


            <div class="form__group">
                <label class="form__label" for="Nombre">Nombre</label>
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form__input" } })
            </div>

            <div class="form__group">
                <label class="form__label" for="Apellido">Apellido</label>
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form__input" } })
            </div>

            <div class="form__group">
                <label class="form__label" for="Cedula">Cedula</label>
                @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form__input" } })
            </div>

            <div class="form__group">
                <label class="form__label" for="Sexo_Id">Sexo</label>
                @Html.DropDownListFor(model => model.Sexo_Id, ViewBag.SexoList as SelectList, new { @class = "form__input" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Activo">Activo</label>
                <div class="checkbox">
                    @Html.EditorFor(model => model.Activo)
                    @Html.ValidationMessageFor(model => model.Activo, "", new { @class = "text-danger" })
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Guardar" class="btn" />

            }
        </form>
    </div>
    <div>
        <a href="@Url.Action("Index")" class="btn btn--details">Regresar</a>
    </div>
</section>
