@model IEnumerable<ProyectoFinalDofit.Models.Clientes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cliente_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cliente_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cliente_Id })
        </td>
    </tr>
}

</table>
