@model ProyectoFinalDofit.Models.Facturas

@{
    ViewBag.Title = "Create";
}

@Styles.Render("~/Content/uza/customStyles")
<style>
    .custom-dropdown {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        box-sizing: border-box;
    }
</style>

<section class="newproduct section">
    <div class="container">

        <h2>Agregar Nueva Factura</h2>

        @using (Html.BeginForm("Create", "Facturas", FormMethod.Post, new { @class = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form__group">
                <label class="form__label" for="Numero_Factura">Número de Factura</label>
                @Html.EditorFor(model => model.Numero_Factura, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.Numero_Factura, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Fecha">Fecha</label>
                @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form__input" } })
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Trabajador_Id">Nombre del Trabajador</label>
                @Html.DropDownList("Trabajador_Id", null, htmlAttributes: new { @class = "form-control custom-dropdown" })
                @Html.ValidationMessageFor(model => model.Trabajador_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Proveedor_Id">Nombre del Proveedor</label>
                @Html.DropDownList("Proveedor_Id", null, htmlAttributes: new { @class = "form-control custom-dropdown" })
                @Html.ValidationMessageFor(model => model.Proveedor_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <label class="form__label" for="Tipo_Movimiento_Id">Tipo de Movimiento</label>
                @Html.DropDownList("Tipo_Movimiento_Id", null, htmlAttributes: new { @class = "form-control custom-dropdown" })
                @Html.ValidationMessageFor(model => model.Tipo_Movimiento_Id, "", new { @class = "text-danger" })
            </div>

            <div class="form__group">
                <input type="submit" value="Create" class="btn" />
            </div>
        }

      <div>
        <a href="@Url.Action("Index")" class="btn btn--details">Regresar</a>
    </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
