@model ProyectoFinalDofit.Models.Facturas

@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/uza/customStyles")

<section class="detailsproduct section">
    <h2>Detalles de Factura</h2>

    <div class="container">
        <div>
            <dl class="dl-horizontal">
                <div>
                    <dt>
                        @Html.DisplayNameFor(model => model.Numero_Factura)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Numero_Factura)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Fecha)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Proveedores.Nombre)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Proveedores.Nombre)
                    </dd>
                </div>

                <div>
                    <dt>
                        @Html.DisplayNameFor(model => model.Tipo_Movimientos.Descripcion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Tipo_Movimientos.Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Trabajadores.Codigo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Trabajadores.Codigo)
                    </dd>
                </div>
            </dl>
        </div>
        <div class="btn--top">
            <a href="@Url.Action("Index")" class="btn btn--details">Regresar</a>
        </div>
    </div>
</section>
