@model ProyectoFinalDofit.Models.Facturas

@{
    ViewBag.Title = "Edit";
}




@Styles.Render("~/Content/uza/customStyles")

<style>
    .custom-dropdown {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        box-sizing: border-box;
    }
</style>


<section class="editproduct section">
    <div class="container">
        <h2>Editar</h2>

        <form action="@Url.Action("Edit", "Facturas")" class="form" method="post">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Factura_Id)

                <div class="form__group">
                    <label class="form__label" for="">Numero Fac</label>
                    @Html.EditorFor(model => model.Numero_Factura, new { htmlAttributes = new { @class = "form__input" } })
                </div>
                <div class="form__group">
                    <label class="form__label" for="">Fecha</label>
                    @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form__input" } })
                </div>
                <div class="form__group">
                    <label class="form__label" for="">Trabajador</label>
                    @Html.DropDownList("Trabajador_Id", null, htmlAttributes: new { @class = "form-control custom-dropdown" })
                    @Html.ValidationMessageFor(model => model.Trabajador_Id, "", new { @class = "text-danger " })
                </div>
                <div class="form__group">
                    <label class="form__label" for="">Proveedor</label>
                    @Html.DropDownList("Proveedor_Id", null, htmlAttributes: new { @class = "form-control custom-dropdown" })
                    @Html.ValidationMessageFor(model => model.Proveedor_Id, "", new { @class = "text-danger " })
                </div>

                <div class="form__group">
                <label class="form__label" for="">Tipo movimiento</label>
                @Html.DropDownList("Tipo_Movimiento_Id", null, htmlAttributes: new { @class = "form-control custom-dropdown" })
                @Html.ValidationMessageFor(model => model.Tipo_Movimiento_Id, "", new { @class = "text-danger " })
            </div>
          
                <div>
                    <input type="submit" value="Guardar" class="btn" />
                </div>
          

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div>
            <br />
            <br />

            <a href="@Url.Action("Index")" class="btn btn--details">Regresar</a>
        </div>
            }

        </form>
    </div>
</section>







