@model ProyectoFinalDofit.Models.Trabajadores

@{
    ViewBag.Title = "Details";
}

@Styles.Render("~/Content/uza/customStyles")

<section class="detailsproduct section">
    <h2>Detalles de Trabajador</h2>

    <div class="container">
        <div>
            <dl class="dl-horizontal">
                <div>
                    <dt>
                        @Html.DisplayNameFor(model => model.Codigo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Codigo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Apellido)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Apellido)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Activo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Activo)
                    </dd>
                </div>

                <div>
                    <dt>
                        @Html.DisplayNameFor(model => model.Turnos.Descripcion)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Turnos.Descripcion)
                    </dd>
                </div>
            </dl>
        </div>
        <div class="btn--top">
            <a href="@Url.Action("Index")" class="btn btn--details">Regresar</a>
        </div>
    </div>
</section>

